* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8fafc;
}

.header {
    background-color: #0f172a;
    padding: 30px;
}

.nav-tabs {
    display: flex;
    background-color: #cbd5e1;
    gap: 2px;
}

.tab {
    flex: 1;
    background-color: #334155;
    padding: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    flex: 1;
    align-content: flex-start;
}

.box {
    background-color: #475569;
    flex: 1;
    min-width: 45%;
    height: 150px;
}
